@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="index-page-greeting">The best marketplace</h1>
    @* <p class="index-page-greeting-p">The best marketplace</p> *@

    @* <img src="~/img/home.jpg" style="width: 75vh" /> *@
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./img/Books.jpg" class="d-block w-100" alt="Shopping1.png">
        </div>
        <div class="carousel-item">
            <img src="./img/Bazar01.jpg" class="d-block w-100" alt="Shopping2.png">
        </div>
        <div class="carousel-item">
            <img src="./img/Clothes.jpg" class="d-block w-100" alt="Shopping2.png">
        </div>
        <div class="carousel-item">
            <img src="./img/Bazar02.jpg" class="d-block w-100" alt="Shopping2.png">
        </div>
        <div class="carousel-item">
            <img src="./img/homes.jpg" class="d-block w-100" alt="Shopping3.png">
        </div>
        <div class="carousel-item">
            <img src="./img/Bazar03.jpg" class="d-block w-100" alt="Shopping2.png">
        </div>
        <div class="carousel-item">
            <img src="./img/Technology.jpg" class="d-block w-100" alt="Shopping3.png">
        </div>
        <div class="carousel-item">
            <img src="./img/Bazar04.jpg" class="d-block w-100" alt="Shopping2.png">
        </div>
        <div class="carousel-item">
            <img src="./img/Cars.jpg" class="d-block w-100" alt="Shopping3.png">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

